<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
    <p>Cher utilisateur,</p>
    </br>
    </br>
    <p>Votre réservation {{ reservation.reservation_type.name }} du {{ startdate }} a maintenant le status {{ status }}.</p>
    <p><a href="{{ SITE_URL }}#/reservations/{{ reservation.id }}">{{ SITE_URL }}#/reservations/{{ reservation.id }}</a></p>
    <p>Vous serez notfié de tout changement.</p>
    </br>
    <p>Cordialement</p>
    <p>L'équipe du fablab</p>
</body>
